node_modules/
dist/
build/
*.app
*.dmg

*.nnue

/artifacts/

/native/linux-generic/
/native/linux-avx/
/native/linux-avx2/
/native/linux-avx512/
/native/linux-avx-512icl/
/native/linux-avxvnni/
/native/linux-bmi2/
/native/linux-popcnt/

/native/win32-generic/
/native/win32-avx/
/native/win32-avx2/
/native/win32-avx512/
/native/win32-avx-512icl/
/native/win32-avxvnni/
/native/win32-bmi2/
/native/win32-popcnt/

test.txt
